.graphExplorer{
  background-color: green;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.graphExplorerCanvasContainer{
    position: relative;
    width: 100%;
    height:100%;
}

.graphExplorerTopSVG{
  position: absolute;
  background-color: purple;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*.graphExplorerCanvas{
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}*/

/*Seperate Component*/
.graphBackgroundRect{
  fill: white;
}
