.registrationHealth-container{
  position: absolute;
  z-index: 0;
  /*background: blue;*/
  width: 744px;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.registrationHealth{
  position: absolute;
  z-index: 0;
  width: 100px;
  height: 100%;
  right: 0px;
}

.reg-initial-ok{
  border: 1px solid #212121;
  background: #212121;
}

.reg-new-error{
  border: 1px solid #212121;
  background: red;
  transition: background-color 500ms ease-in;
}

.reg-existing-error{
  border: 1px solid #212121;
  background: red;
}

.reg-re-establish-ok{
  border: 1px solid #212121;
  background: #212121;
  transition: background-color 500ms ease-in;
}

.reg-ok{
  border: 1px solid #212121;
  background: #212121;
}

.reg-registered{
  background: green;
  transition: background-color 500ms linear;
}

/*
transition: [transition-property]
  [transition-duration]
  [transition-timing-function]
    ease | linear |ease-in | ease-out | ease-in-out |
    step-start | step-end
  [transition-delay];
*/
