.userChallenge{
  /*background-color: red;*/
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #222222;
  border-radius: 10px;
  color: #212121;
  z-index: 0;
  position: relative; /*Required to contain a spinner overlay.*/
}

.userChallenge>.sh-row{
  align-items: center;
  /*width: 350px;*/
  justify-content: flex-end;
  margin-bottom: 10px;
}

.userChallenge>.sh-row>.form-control{
  margin-left: 10px;
}

.userChallenge>.sh-row>.sh-button{
  text-transform: uppercase;
  margin-left: 10px;
}

.userChallenge>.sh-centered-row>a{
  margin-left: 10px;
  color: grey;
}

.userChallenge>.sh-centered-row>a:hover{
  color: #212121;
}
