.elementIdle{
  fill: white;
  stroke: black;
  stroke-width: 0.8;
}

.elementSelected{
  fill: white;
  stroke: black;
  stroke-width: 3;
  cursor: move;
  shape-rendering: crispEdges;
}

.elementUpstream{
  fill: red;
  stroke: black;
  stroke-width: 3
}

.elementDownstream{
  fill: green;
  stroke: black;
  stroke-width: 3
}
